Operation sur les matrices

In [2]:
import numpy as np

In [8]:
X=np.array([[2,3,4,5],[3,4,5,6]])

In [9]:
X.ndim

2

In [10]:
X.shape

(2, 4)

In [11]:
X.dtype

dtype('int32')

Exercice

Soit un ensemble d'employée `Age=30, salaire=1500`

une liste des employée : 
<br>        ALi: age=30 salaire=2500
<br>        Sonia: age=35 salaire=1100
<br>        Rahma: age=25 salaire=900

Quel est le nom de l'employé le plus proche à Ines ?

In [23]:
Ines=np.array([28,1500])

emp=np.array([[30,2500],[35,1100],[25,900]])


np.abs(emp-Ines)

array([[   2, 1000],
       [   7,  400],
       [   3,  600]])