<b>Travail demandé:</b>

Remplacer le symbole #? par le code adéquat

<b>Exercice 1</b>

Soit les dates de naissance des employés dans une entreprise:

        13/11/1978, 12/10/2001, 10/09/1991, 31/01/1980, 14/01/1993

Ecrire un code qui permet de saisir les dates ci-dessus en une seule ligne séparées par de virgule avec éventuellement des espaces.

In [2]:
s='13/11/1978,12/10/2001,10/09/1991,31/01/1980,14/01/1993'

'3'

Récupérer les dates à partir de la chaine saisie

In [6]:
from datetime import datetime

dates= datetime.strptime(s,'%d/%m/%Y')

ValueError: unconverted data remains: ,12/10/2001,10/09/1991,31/01/1980,14/01/1993

Convertir les dates dans la liste en type datetime

Manière 1 (Boucle for)

In [41]:
from datetime import datetime
for i in range(len(dates)):
    #?

Manière 2 (List comprehension)

In [42]:
dates = [datetime.strptime(date,'%d/%m/%Y') for date in dates]

[datetime.datetime(1978, 11, 13, 0, 0),
 datetime.datetime(2001, 10, 12, 0, 0),
 datetime.datetime(1991, 9, 10, 0, 0),
 datetime.datetime(1980, 1, 31, 0, 0),
 datetime.datetime(1993, 1, 14, 0, 0)]

Manière 3 (Map)

In [48]:
dates=list(map(lambda date : datetime.strptime(date,'%d/%m/%Y'), dates))

Calculer les ages des employes dans une liste ages

In [49]:
#?
for i in range(len(dates)):
    #?

In [50]:
ages

[46, 23, 33, 44, 31]

Déterminer l'âge minimal, l'âge maximal et l'âge moyen en utilisant numpy

In [1]:
import numpy as np

In [2]:
#?

In [3]:
#?

In [4]:
#?

<b>Exercice 2</b>

Supposons qu'on dispose des infos (age et salaire) d'un éhantillon de 5 employés d'une entreprise.

        Nom Age Salaire
        Ahmed 25 1600.65
        Sonia 28 2100.76
        Rahma 39 2400.65
        Salma 45 3100.87

1. Représenter les noms et les infos des employés avec les structures adéquats (Les en déduire des questions ultérieures)

In [27]:
import numpy as np
noms=#?
infos=#?

array([[  25.  , 1600.65],
       [  28.  , 2100.76],
       [  39.  , 2400.65],
       [  45.  , 3100.87]])

2. Répondre aux questions suivantes :
- Note : utiliser numpy pour répondre par une seule ligne de code !

Déterminer l'age maximal de la population

In [3]:
#?

45.0

Déterminer l'employé le plus agé

In [5]:
#?

'Salma'

Déterminer le salaire le plus faible

In [7]:
#?

1600.65

Déterminer l'employé le moins rénuméré

In [8]:
#?

'Ahmed'

Déterminer les employés ayant un salaire >=2000
- Au debut, faut penser à convertir la liste des noms en un array numpy pour pourvoir lui appliquer un filtrage ! 

        np.array(noms)
- `infos[:,1]>=2000` donne un vecteur booléen (filtre) : `[False,True,True,True]`

- Solution 1: Appliquer ce filtre sur np.array(noms)
- Solution 2 : Déterminer les idnices en se basant sur le filtre puis filtrer np.array(noms)
- A la fin, penser à reconvertir l'array des noms filtrés en type `list` avec la fonction `list()`

In [21]:
# solution 1
#?

['Sonia', 'Rahma', 'Salma']

In [33]:
# solution 2
list(np.array(noms)[np.where(infos[:,1]>=2000)[0]])

['Sonia', 'Rahma', 'Salma']