Tableaux (liste, tuple, ensemble, dictionnaire)

1/ Liste

In [3]:
#liste vide

noms=[]
len(noms)

0

In [5]:
# creation d'une listes de nom

noms=['ali','sonia','hela']

list

In [7]:
noms[0]

'ali'

In [10]:
#on peut recuperer le dernier element avec -1

noms[-1]

'hela'

In [12]:
#on peut recuperer les deux premiers elements 
#on utilise slicing
# OU noms[:2]

noms[0:2]

['ali', 'sonia']

In [15]:
#on peut recuperer les derniers elements à partir de la deuxieme case
#on utilise slicing
noms[-2:]

['sonia', 'hela']

In [14]:
# tous les elements avec pas=2
noms[::2]

['ali', 'hela']

In [16]:
# tous les elements avec ordre inverse
noms[::-1]

['hela', 'sonia', 'ali']

In [18]:
#Ajouter un elements à la fin de la liste

noms.append("Haithem")

noms

['ali', 'sonia', 'hela', 'Haithem', 'Haithem']

In [20]:
#ajouter elem dans un indice 
noms.insert(1,"salma")

In [21]:
noms

['ali', 'salma', 'sonia', 'hela', 'Haithem', 'Haithem']

In [23]:
del noms[4]

# supprimer avec valeurs
# noms.remove['Haithem']

In [24]:
noms

['ali', 'salma', 'sonia', 'hela', 'Haithem']

In [25]:
#modifier case d'indice 1

noms[1] ='Nabila'

In [26]:
noms

['ali', 'Nabila', 'sonia', 'hela', 'Haithem']